* { 
	padding: 0;
	margin: 0;
	border: 0;
	list-style: none;
	text-decoration: none; 
	outline: none;
	font-family: Roboto, Trebuchet MS, sans-serif; 
}

body {
	background: F8F7FA;
	position: relative;
}

#fullWrap {
	display: table;
	width: 100%;
	height: 100%
}

.textField {
	display: inline-block;
	transform: scale(0);
	transition: all 500ms;
}

.textField.active {
	transform: scale(1);
}

.mahmutBaba {
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.mahmutBaba h1 {
	color: #666666;
}


h1 {
	color: #FFF;
	font-weight: 200;
	font-size: 45px;
}

span.desc { 
	color: #777; 
	text-align: left;
}

.textField img {
	width: 100px;
	height: 110px;
	margin-bottom: 30px;
}

#footer {
	position: fixed;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0; 
	padding: 30px;
	box-sizing: border-box;
	color: #969696;
	font-size: 13px;
	transition: all 700ms;
	opacity: 0;
}

#footer.active {
	opacity: 1;
}

.social {
	position: fixed;
	top: 0;
}

.acc {
	height: 27px;
	width: 27px;
	z-index: 10; 
	background: #333;
}

.socialBlock {
	position: absolute;
	right: 20px;
	top: 15px;
}

.acc {
	position: relative;
	height: 27px;
	width: 27px;
	background: #333;
	overflow: hidden;
}

.facebook {
	height: 27px;
	width: 27px;
	background: #3B5998;
	color: #F8F7FA;
	border-radius: 2px;
	top: 0px;
	position: absolute;
	transition: all 300ms;
}

.facebook:before {
	content: "\f09a";
	position: absolute;
	font: 16px/28px FontAwesome;
	text-align: center;
	width: 100%;
	top: -27px;
	height: 100%;
	background: #2c3e50;
}
/*
.facebook:hover:before {
	left: 0px;
}*/

.facebook:hover {
	top: 27px;
}

.facebook i {
	position: absolute;
	left: 9px;
	top: 6px;
}